name: E2E

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  e2e-playwright-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          cd e2e
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: python -m playwright install

      - name: Run E2E tests
        run: |
              cd e2e
              pytest tests/test_demo.py --reruns 3 --html=report.html --self-contained-html

      - name: Upload failed test videos
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: failed-test-videos
          path: e2e/videos/*.webm

      - name: Upload Playwright HTML Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-report
          path: e2e/report.html
